* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;

}

li {
    list-style: none;
}

button {
    border: none;
    background: none;
    outline: none;
}

iframe {
    border: none;
    outline: none;
    width: 100%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * *  */

.wrapper {
    max-width: 1600px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER * * * * * * * * * * * * * * * * * * * * * * * * *  */

.header {
    background: #fff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 30px;
    width: 80vw;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.navbar-top {
    padding-bottom: 20px;
    border-bottom: 1px solid #f9f9f9;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.logo {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    height: 100px;
}

.logo img {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    height: 100%;
}


.header.sticky .logo {
    height: 60px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.header.sticky .logo img {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}


.navbar-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navbar-top ul li {
    margin-left: 50px;

}

.navbar-top ul li a {
    font-size: 14px;
    color: #000;
}

.navbar-top ul li i {
    font-size: 14px;
    margin-right: 10px;
    color: #FFF500;
}

.navbar-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.navbar-bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar-bottom ul li {
    margin: 0 5px;
}

.navbar-bottom ul li a {
    font-size: 16px;
    color: #000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    padding: 10px 15px;
}

.navbar-bottom ul li a:hover {
    background: #FFD700;
    border-radius: 5px;
    color: #fff;
}


.header .btn-yellow {
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 0;
    padding-left: 20px;
    font-family: 'Uni Sans Heavy CAPS';
    background: none;
    color: #333;
    cursor: pointer;

}

.header .btn-yellow i {
    font-size: 18px;
    margin-right: 10px;
}


.header.sticky .navbar-top {
    display: none;
}

.header.sticky {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 20;
}


.header.sticky .navbar-bottom {
    padding-top: 0;
}

.header.sticky .header-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HERO * * * * * * * * * * * * * * * * * * * * * * * * *  */

.hero-slider {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 0 !important;
}

.hero-slider img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.slick-dots {
    bottom: 30px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * *  */

.showcase {
    padding: 50px 0;
    position: relative;
    background: #fff;
}

.showcase h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    color: #333;
    font-family: 'Uni Sans Heavy CAPS';
    position: relative;
    z-index: 2;
}

.showcase h2 span {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    color: #333;
    font-family: 'Uni Sans Heavy CAPS';
    color: #FFF500;
}

.showcase .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.showcase-card {
    width: 300px;
    margin: 30px 15px;
    position: relative;
    background: #fff;
}

.showcase-photo {
    width: 100%;
    height: 300px;
}

.showcase-photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.showcase-sale {
    background: #FFF500;
    border-radius: 50%;
    padding: 1em;
    font-family: 'Uni Sans Heavy CAPS';
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #000;
    font-size: 22px;
}

.showcase-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 50px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.showcase-name {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
    background: #FFD700;

}

.showcase-name h4 {
    font-family: 'Uni Sans Heavy CAPS';
}

.showcase-price {
    background: red;
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
    font-family: 'Uni Sans Heavy CAPS';
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * *  */

.mission {
    background-color: #FFD700;
    background-image: url('../images/bg3.png');
    background-size: 100%;
    padding: 100px 25px;
}

.mission h2 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #fff;
    font-family: 'Uni Sans Heavy CAPS';
    position: relative;
    z-index: 2;

}

.mission ul li {
    font-size: 22px;
    color: #fff;
    font-weight: 800;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * *  */

.map {
    padding: 50px 0;

}

.map .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.map h2 {
    margin-bottom: 50px;
    font-size: 40px;
    color: #333;
    font-family: 'Uni Sans Heavy CAPS';
    position: relative;
    z-index: 2;
}

.map iframe {
    max-width: 400px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * *  */

.footer {
    background: #f4f4f4;
    padding: 50px 0;
}

.footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-column h3 {
    font-size: 24px;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.footer-column ul li a {
    font-size: 18px;
    color: #333;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer-column:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-phone {
    font-weight: 700;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.footer-phone i {
    margin-right: 15px;
}

.footer-callback {
    border: 2px solid #333;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 15px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.footer-callback:hover {
    background: #333;
    color: #fff;
}

.footer-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-callback i {
    margin-right: 10px;
}

.footer-socials a {
    min-width: 45px;
    max-width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #333;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 10px;
}

.footer-socials a:hover {
    background: #333;
}

.footer-socials a:hover i {
    color: #fff;
}

.footer-socials i {
    font-size: 22px;
    color: #333;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * *  */
/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * *  */
/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * *  */

@media screen and (min-width: 1600px) {
    .map iframe {
        height: 600px;
    }
}

@media screen and (max-width: 1366px) {
    .hero-wrapper,
    .header-wrapper {
        max-width: 1200px;
        width: 100%;
    }
    .wrapper {
        max-width: 1200px;
    }
}